* {
    margin: 0;
    box-sizing: border-box;
  }
  .page1{
    position: relative;;
    background-size: 200px;
    height: 834px;
  }
  .img1p1{
      height: 30px;
      width: 110px;
      position: absolute;
      left: 8%;
      top: 20px;
  }
  .menu {
    position: absolute;
   left: 600px;
    top: 10px; }

  .menu ul li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding: 20px; }


  ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    color: black; }
    .img2p1{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 30px;
        right: 14%;
    }
    .img3p1{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 30px;
        right: 11%;
    }
    .img4p1{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 30px;
        right: 8%;
    }
    .bigimg{
        position: absolute;
        top: 11%;
        width: 1445px;
    }
    .img5p1{
        height: 70px;
        width: 170px;
        position: absolute;
        left: 20%;
        top: 17%;
    }
    .p1p1{
        position: absolute;
        left: 20%;
        top: 27%;
        font-size: 18px;
    }
    .p2p1{
        position: absolute;
        top:55%;
        left: 8%;
    }
    .p3p1{
        position: absolute;
        top:65%;
        left: 8%;
        font-size: 20px;
        line-height: 27px;
        width: 550px;
    }
    .img6p1{
        position:absolute;
        top: 55%;
        left: 50%;
        height: 300px;
        width: 200px ;
    }
    .img7p1{
        position:absolute;
        top: 55%;
        left: 65%;
        height: 300px;
        width: 200px ;
    }
    .img8p1{
        position:absolute;
        top: 55%;
        left: 80%;
        height: 300px;
        width: 200px ;
    }
    .button1p1{
        position: absolute;
        top: 92%;
        left: 8%;
        height: 45px;
        width: 100px;
        border:1px solid black;
        font-size: 16px;
        color: black;
        background-color: white;
    }
    .page2{
        position: relative;;
        background-size: 200px;
        height: 834px;
      }
      .img1p2{
          position: absolute;
          top: 20%;
          left: 10%;
      }
      .p1p2{
        position:absolute;
        top: 5%;
        left: 50%;
      }
      .p2p2{
        position:absolute;
        top: 18%;
        left: 50%;
        font-size: 20px;
        line-height: 27px;
        width: 550px;
      }
      .rond1p2{
          position: absolute;
          top: 35%;
          left:50%;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: #020E8A;
      }
      .rond1p2 p {
          position: absolute;
          top: 10px;
          left: 38%;
          color: white;
          font-size: 25Px;
      }
      .p3p2{
        position: absolute;
        top: 35%;
        left:56%;
        width: 470px;
        line-height: 20px;
      }
      .rond2p2{
        position: absolute;
        top: 48%;
        left:50%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #020E8A;
    }
      .rond2p2 p {
        position: absolute;
        top: 10px;
        left: 38%;
        color: white;
        font-size: 25Px;
    }
    .p4p2{
      position: absolute;
      top: 48%;
      left:56%;
      width: 470px;
      line-height: 20px;
    }
    .rond3p2{
        position: absolute;
        top: 60%;
        left:50%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #020E8A;
    }
      .rond3p2 p {
        position: absolute;
        top: 10px;
        left: 38%;
        color: white;
        font-size: 25Px;
    }
    .p5p2{
      position: absolute;
      top: 60%;
      left:56%;
      width: 470px;
      line-height: 20px;
    }
    .button1p2{
        position: absolute;
        top: 82%;
        left: 50%;
        height: 45px;
        width: 130px;
        border:1px solid black;
        font-size: 16px;
        color: black;
        background-color: white;
    }
    .button2p2{
        position: absolute;
        top: 82%;
        left: 62%;
        height: 45px;
        width: 230px;
        border:1px solid black;
        font-size: 16px;
        color: black;
        background-color: white;
    }
    .page3{
        position: relative;;
        background-size: 200px;
        background-color: #E2E2E0;
        height: 834px;
      }
      .img1p5{
          position: absolute;
          top: 25%;
          left: 30%;
          height: 20%;
          width: 35%;
      }
      .p1p5{
        position: absolute;
        top: 54%;
        left: 22%;
        font-size: 28px;
      }
      .mail{
        position: absolute;
        top: 65%;
        left: 27%;
        height: 5%;
        width: 28%;
        font-size: 22px;
        border:1px solid black;
        color: black;
        background-color:#E2E2E0 ;
    }
    .button1p3{
        position: absolute;
        top: 65%;
        left: 54%;
        height: 5%;
        width: 7%;
        border:1px solid black;
        font-size: 16px;
        color: black;
        background-color: #E2E2E0;
    }
    .page4{
        position: relative;;
        background-size: 200px;
        background-color: black;
        height: 534px;
      }
      .p1p4{
          position: absolute;
          top: 20%;
          left:15%;
          color: white;
          font-size: 20px;
      }
      .p2p4{
        position: absolute;
        top: 33%;
        left:15%;
        color:#E2E2E0;
        font-size: 20px;
        width: 300px;
        line-height: 28px;
      }
      .p3p4{
        position: absolute;
        top: 20%;
        left:52%;
        color: white;
        font-size: 20px;
      }
      .p4p4{
        position: absolute;
        top: 33%;
        left:52%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p5p4{
        position: absolute;
        top: 42%;
        left:52%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p6p4{
        position: absolute;
        top: 52%;
        left:52%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p7p4{
        position: absolute;
        top: 62%;
        left:52%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p8p4{
        position: absolute;
        top: 72%;
        left:52%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p9p4{
        position: absolute;
        top: 20%;
        left:72%;
        color: white;
        font-size: 20px;
      }
      .p10p4{
        position: absolute;
        top: 37%;
        left:72%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p11p4{
        position: absolute;
        top: 47%;
        left:72%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p12p4{
        position: absolute;
        top: 57%;
        left:72%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p13p4{
        position: absolute;
        top: 67%;
        left:72%;
        color: #E2E2E0;
        font-size: 20px;
      }
      .p14p4{
        position: absolute;
        top: 67%;
        left:82%;
        color: #E2E2E0;
        font-size: 20px;
      }
